<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>create User</h3>
    <form action="">
        <label for="">firstName</label>
        <input type="text" name="firstName" placeholder="Input name">
        <br>
        <button>Add data</button>
    </form>
</body>
</html>