<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table> 
        <th>name</th>
        <th>photo profile</th>
        <th>age</th>
        <th>phone number</th>
        <% users.map((user) => {%>
            <tr>
                <td><%= user.firstName %></td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>

        <% }) %>
        
    </table>
</body>
</html>